
body {
	background-color: grey;
	margin-left: 150px;
	margin-right: 150px;
	overflow: hidden;
}

#header {
	background-color: white;
	font-family:verdana;
	text-align: center;

}

#content {
	background-color: white;



}

#section {
	float: left;
	background-color: blue;
	width: 48%;
	margin-right: -15px;
	padding: 5px;
	
	


}

#aside {
	float: right;
	background-color: red;
	width: 48%;

}
#footer {

	float: none;
	clear: both;
	background-color: green;
	margin-top:50px;
}

#nav {
	text-align: center;
	background-color: brown;
}

ul, ol{
	list-style: none;
}


#parent {
	overflow: hidden;
}

#article {
	background-color: yellow;
}
